* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(43, 121, 145, 0.849);
    background-blend-mode: multiply;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', 'Arial', sans-serif;
}

pre {
    white-space: pre-wrap;
}

h1 {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#encrypted-word {
    color: white;
}

.word-area, 
.offset-area, 
.encrypted-area,
.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
}

.offset-area, 
.encrypted-area,
.button-area {
    padding-top: 1.5rem;
}

input, 
#submit-button {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
}

input {
    font-family: 'Orbitron', 'Arial', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    border: none;
    background: rgba(255,255,255,0.75);
    box-shadow: 0px 0px 3px 5px white;
}

#submit-button {
    border-radius: 0.5rem;
    color:white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Orbitron', 'Arial', sans-serif;
    background: rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 3px pink;
    margin: 2rem 0 2rem 0;
}

#submit-button:hover {
    background: rgb(255, 192, 203, 0.5);
    box-shadow: 0px 0px 3px 3px white;
    cursor: pointer;
    transition: all .1s ease-in;
    transform: scale(1.1);
}

